h1,
h2,
h3,
p{
  font-family: Helvetica;
}

h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align:center;
  font-size: : 100px;
  font-weight: bold;
  color: khaki;
}

#brushes{
  background-color: mediumspringgreen;
}

#frames{
  background-color: lightcoral;
}

#paint{
  background-color: skyblue;
}

h2{
  font-size: 32px;
  font-weight:bold;
  color: white;
}

.prizes{
  font-weight: bold;
  color:blue;
}
